body {
    padding: 0;
    margin: 0;
    font-family: 'Livvic', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(90deg, rgba(102,102,223,0.8701681356136204) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
}

.grupo_cards {
    display: block;
    align-items: center;
    background: white;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10vh;
    box-shadow: 4px 10px 23px -4px #888;
}

.grupo_cards h3 {
    text-align: center;
    color: #888;
    padding-top: 70px;
    font-size: 20px;
}

.card {
    background-color: white;
    display: flex;
    width: 480px;
    height: 114px;
    box-shadow: 4px 10px 23px -4px #888;
    transition: 0.5s;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 10px;
}

.card:hover {
   border: solid 1px rgb(102,102,223);
}

.card a {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    text-decoration: none;
    color: #665B6F;
    font-size: 25px;
}

/* page 2 */

.container {
    width: 95%;
    margin: 0 auto;
    background: white;
    height: 600px;
    margin-top: 40px;
    box-shadow: 4px 10px 23px -4px #888;
}

.titulo_pagina{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.titulo_pagina h2 {
    margin: 0;
}

.btn {
    background: rgb(102,102,223);
    width: 110px;
    border-radius: 5px;
    height: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 28px;
    transition: 0.5s;
}

.btn:hover {
    background-color:  rgb(170, 170, 250);
}

.lista {
    padding-top: 30px;
}

.lista a {
    margin-right: 40px;
    text-decoration: none;
    color: black;
} 

.lista li {
    padding: 20px 0;
    background: #F5F5F5;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.lista li:hover {
    background: rgb(199, 182, 213);
}

.background_listagem {
    margin-left: 60px;
    padding-top: 12vh;
    width: 80%;
    margin: 0 auto;
}

.background_listagem nav a {
    padding-right: 35px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.background_listagem nav a:hover {
    background: rgb(199, 182, 213);
    transition: 0.5s;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 310px;
    border: 1px solid;
    border-radius: 62%;
    box-shadow: 4px 10px 23px -4px #888;
}

.apresentacao {
    display: flex;
    margin-top: 12%;
}

.apresentação_lista {
    padding-left: 50px;
}
