body {
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(90deg, rgba(102,102,223,0.8701681356136204) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%); */
    background-color: #F5F5F5;
}

.container {
    width: 95%;
    margin: 0 auto;
    background: white;
    height: 700px;
    margin-top: 40px;
    box-shadow: 4px 10px 23px -4px #888;
}

.grupo_cards {
    display: block;
    align-items: center;
    background: white;
    margin: 0 auto;
    box-shadow: 4px 10px 23px -4px #888;
}

.grupo_cards h3 {
    text-align: center;
    color: #888;
    padding-top: 19vh;
    font-size: 20px;
}

.card {
    background-color: white;
    display: flex;
    width: 480px;
    height: 114px;
    box-shadow: 4px 10px 23px -4px #888;
    transition: 0.5s;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 10px;
}

.card:hover {
   border: solid 1px rgb(102,102,223);
   background-color: rgb(170, 170, 250);
}

.card a {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    text-decoration: none;
    color: #665B6F;
    font-size: 25px;
}

.card a:hover {
    color: #fff;
}

.titulo_pagina{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.titulo_pagina h2 {
    margin: 0;
}

.btn {
    text-decoration: none;
    background: rgb(102,102,223);
    color: #fff;
    padding: 9px 19px;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color:  rgb(170, 170, 250);
}

.btn_voltar {
    padding: 0 100px;
    padding-top: 40px;
}

.btn_voltar a {
    text-decoration: none;
    background: rgb(102,102,223);
    color: #fff;
    padding: 9px 19px;
    border-radius: 4px;
    transition: 0.5s;
}

.btn_voltar a:hover {
    background-color:  rgb(170, 170, 250);
}

.lista {
    padding-top: 30px;
}

.lista a {
    margin-right: 40px;
    text-decoration: none;
    color: black;
} 

.lista a:hover {
    font-weight: 500;
}

.lista li {
    padding: 20px 0;
    background: #F5F5F5;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.lista li:hover {
    background: rgb(199, 182, 213);
}

.background_listagem {
    margin-left: 60px;
    padding-top: 12vh;
    width: 80%;
    margin: 0 auto;
}

.background_listagem nav a {
    margin-right: 35px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.background_listagem nav a:hover {
    background: rgb(199, 182, 213);
    transition: 0.5s;
    border-radius: 4px;
    padding: 10px 8px;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 210px;
    box-shadow: 0px 18px 21px -14px #888;
    border-radius: 50%;
}

.apresentacao h4 {
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid #C6C6C6;
    padding-top: 4vh;
}

.apresentação_lista {
    display: flex;    
    padding-top: 5vh;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.style_li {
    width: 300px;
    text-align: center;
}

.style_li ul li {
    font-size: 20px;
}

.style_li h3 {
    color: #333;
    font-weight: 700;
    font-size: 36px;
    font-family: 'Righteous'
}

.form_background {
    text-align: center;
}

.form_background input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid;
    margin: 20px;
    text-align: center;
    width: 400px;
    font-size: 16px;
}

.form_background h4 {
    padding-top: 4vh;
    font-size: 30px;
}
